@layer components {

	/*--------------- Main menu ---------------*/
	#black-square {
			
	}

	

	

	

	

	/*-------------- Buttons ---------------*/
	.button {
			
	}

	.button-lg {
			
	}

	/*--------------- #user-menu ---------------*/
	#user-menu {
			
	}

	.user-edit {
			
	}

	/*--------------- #pop-up ---------------*/
	#pop-up {
	}

	/*--------------- Shipping form ---------------*/
	input[type=text].cart, input[type=email].cart, input[type=tel].cart {
		@apply py-1 px-2 mt-4 w-full;
	}
}