@layer base {

	body {
		@apply
			text-gray-800
			dark:bg-black
			dark:text-dark-200;
	}

	/*--------------- Reset outlines ---------------*/
	a, input, textarea, button {
		@apply
			focus:outline-none
			dark:focus:outline-none;
	}

	/*--------------- Inputs ---------------*/
	input::placeholder, textarea::placeholder {
		@apply 
			text-gray-400
			dark:text-[#333];
	}

	input[type=text], input[type=email], input[type=tel], textarea, select {
		@apply
			border
			border-gray-800
			dark:border-dark-200
			dark:bg-black

			focus:ring-1
			focus:ring-gray-800
			focus:border-gray-800
			dark:focus:ring-1
			dark:focus:ring-gray-200
			dark:focus:border-gray-200;
	}

	select {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100' %3E%3Cpolyline stroke='black' stroke-width='3.5' fill='transparent' points='10,30 50,70 90,30' /%3E%3C/svg%3E");
	}

	select:hover {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100' %3E%3Cpolygon stroke='black' stroke-width='3.5' fill='black' points='10,30 50,70 90,30' /%3E%3C/svg%3E");
	}

	input[type=text].error, input[type=email].error, input[type=tel].error, textarea.error {
		@apply border-red-500;
	}

	input.error::placeholder, textarea.error::placeholder {
		@apply 
			text-red-300
			dark:text-red-900
			dark:text-opacity-50;
		}

	#contact-form {
		@apply w-full md:w-1/2 xl:w-1/3 m-auto mb-10;
	}

	#contact-form .input-wrapper {
		@apply my-4 xl:my-6;
	}

	#contact-form input, #contact-form textarea {
		@apply w-full block;
	}

	#contact-form textarea {
		@apply min-h-[16rem];
	}

	/*--------------- Checkboxes ---------------*/
	input[type=checkbox] {
		@apply hidden;
	}

	input[type=checkbox] + label:before {
		content: '';
		@apply border border-black h-4 w-4 mr-2 mb-1 align-middle inline-block cursor-pointer;
	}

	input[type=checkbox]:checked + label:before {
		/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 100 100' %3E%3Cline stroke='white' stroke-width='15' x1='20' y1='20' x2='80' y2='80'/%3E%3Cline stroke='white' stroke-width='15' x1='80' y1='20' x2='20' y2='80'/%3E%3C/svg%3E");
		background-size: contain;
		background-position: center; */
		@apply bg-black;
	}

	input[type=checkbox].classic:checked + label:before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 100 100' %3E%3Crect fill='black' x='15' y='15' width='70' height='70' /%3E%3C/svg%3E");
		background-size: contain;
		background-position: center;
		@apply bg-white;
	}
	
	/*--------------- Options (Radio) ---------------*/
	input[type=radio] {
		@apply hidden;
	}

	input[type=radio].selectable + label:before {
		content: '';
		@apply border border-black h-4 w-4 mr-2 mb-1 align-middle inline-block cursor-pointer rounded-full;
	}

	input[type=radio].selectable:checked + label:before {
		@apply bg-black;
	}

	input[type=radio].classic.selectable:checked + label:before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 100 100' %3E%3Ccircle fill='black' cx='50' cy='50' r='35' /%3E%3C/svg%3E");
		background-size: contain;
		background-position: center;
		@apply bg-white;
	}

	span.highlight {
		@apply text-inherit;
	}

	/*--------------- Shipping form ---------------*/
	input[type=text].cart, input[type=email].cart, input[type=tel].cart, select.cart {
		@apply py-1 px-2 mt-4 w-full;
	}

	/*--------------- Cart form misc. ---------------*/
	.about img {
		@apply inline-block;
	}

	h5 {
		@apply py-1;
	}

	h5.subdivision {
		@apply
			border-b
			border-black
			dark:border-white;
	}

	/*--------------- Links ---------------*/
	a {
		@apply
			underline
			hover:no-underline
			hover:text-white
			hover:bg-black
			dark:hover:text-black
			dark:hover:bg-dark-200;
	}

	a#fun {
		@apply hover:bg-black dark:hover:bg-white;
	}

}

@layer components {

	/*--------------- Flash images ---------------*/
	#dyna-flash img {
		@apply h-16 my-1 md:my-3 md:h-20 lg:h-28 inline-block;
	}

	/*--------------- Main menu ---------------*/
	#black-square {
		@apply
			bg-black
			dark:bg-white

			fixed
			w-0
			h-0
			top-0
			left-0
			z-[2];
	}

	#black-square.animated {
		@apply
			transition-all
			duration-300;
	}

	#menu {
		/* Structure */
		@apply
			fixed
			w-full
			top-0
			z-[3]
			grid
			grid-cols-5
			m-4
			md:grid-cols-9
			md:my-8
			md:mx-12
			xl:my-12
			xl:mx-20;
		/* Style */
		@apply
			text-white
			mix-blend-difference;
	}

	#menu a {
		@apply
			no-underline
			hover:underline
			hover:bg-transparent
			hover:text-inherit;
	}

	#menu a.active {
		@apply
			no-underline;
	}

	#artificial-background {
		@apply
			bg-white
			dark:bg-black
			z-[-1]
			fixed
			top-0
			left-0
			h-32
			w-full;
		/* Applying same height as content top margin to fix Safari not updating body backgound issue. */
		@apply
			md:h-24
			lg:h-32
			xl:h-40;
	}
	

	/*-------------- Buttons ---------------*/
	.button {
		@apply
			no-underline
			border

			border-black
			text-black
			bg-transparent
			hover:text-white
			hover:bg-black

			dark:text-inherit
			dark:border-white
			dark:hover:text-black
			dark:hover:bg-white

			active:text-black
			active:bg-transparent
			dark:active:text-dark-200
			dark:active:bg-transparent

			/* Same as hover values */
			focus:text-white
			focus:bg-black
			dark:focus:text-black
			dark:focus:bg-white

			cursor-pointer
			transition-colors
			duration-200

			inline-block
			py-1
			px-2.5;
	}

	.inverted {
		@apply
			text-white
			bg-black
			hover:text-black
			hover:bg-white

			active:text-white
			active:bg-black;
	}

	.button-lg {
		@apply
			button

			inline-block
			py-1
			px-2
			md:py-3
			md:px-4;
	}

	.square-button {
		@apply
			border 
			border-black 
			bg-white
			dark:border-white
			dark:bg-black
			dark:hover:bg-white
			h-6
			w-6
			inline-block
			text-center
			no-underline
			align-text-bottom;
		}
		
	.square-button svg {
		@apply 
			stroke-[black] 
			dark:stroke-[white]
			hover:stroke-[white]
			dark:hover:stroke-[black];
	}

	.difference {
		@apply border-white mix-blend-difference;
	}

	.square-button.difference svg {
		@apply stroke-[white] hover:stroke-[black] hover:bg-white;
	}

	/*--------------- #user-menu ---------------*/
	#user-menu {
		@apply
			text-sm
			border
			border-green-500
			text-green-900
			bg-green-300
			shadow
			z-20

			px-2
			py-1;
	}

	#user-menu a {
		@apply
			underline
			text-green-700
			hover:text-green-900
			hover:bg-transparent
			transition-colors
			duration-300;
	}

	.user-edit {
		@apply
			text-sm
			no-underline
			shadow
			border
			border-green-700
			text-green-700
			bg-green-300
			hover:border-green-900
			hover:text-green-900
			hover:bg-green-300
			focus:border-green-900
			focus:text-green-900
			focus:bg-green-300

			inline-block
			px-2
			py-1
			mr-2;
	}

	.notification::before {
		content: ' (';
	}
	
	.notification::after {
		content: ')';
	}
}