/node_modules
/public/hot
/public/storage
/public
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/.DS_Store
misc
.vscode
workspace.code-workspace
config/settings.json
todo.txt
resources/js/ondemand/app/media-library-dragdrop-custom.js
*.backup
resources/img/sources/favicons.ai
public/mix-manifest.json
jmeter.log
