@import url('./fonts-dashboard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	/*  -----------------------------------------  ╔══════════╗  */
	/*  -----------------------------------------  ║ Sections ║  */
	/*  -----------------------------------------  ╚══════════╝  */

	/*  ------------------------- Top sections */
	:root {
		--switch-scale: 1.5;
	}

	body {
		@apply
			m-0
			text-primary-dark
			dark:text-gray-300
			bg-background-warm
			dark:bg-gray-800
			font-dashboard;
	}

	/*  ------------------------- Navigation section : Top menu */
	nav#menu {
		@apply 
			bg-primary
			text-primary-ultra-light
			shadow-tight
			flex
			text-lg
			z-10
			fixed
			w-screen;
	}

	div#menu-left {
		@apply
			flex-none
			w-[15rem]
			h-16
			bg-primary;
	}

	div#menu-center {
		@apply
			bg-primary
			flex-shrink
			flex
			w-full;
	}

	div#menu-right {
		@apply
			flex
			items-center
			bg-primary;
	}

	/*  ------------------------- Navigation section : Side bar */
	nav.side-bar {
		min-height: calc(100vh - 4rem);
		@apply
			bg-white
			dark:bg-gray-700
			flex-none
			flex
			flex-col
			w-[15rem]
			shadow-md
			z-0
			fixed
			top-16;
	}

	/* ------------------------- Main Sections */
	main {
		@apply
			py-4
			px-4
			flex-1
			ml-[15rem]
			mt-16;
	}

	section { /* Blank section */
		@apply
			w-md
			py-4
			px-6
			mx-auto
			rounded-md
			bg-white
			dark:bg-gray-700
			m-6;
	}

	section.titled {
		@apply
			my-6
			p-0
			shadow-tight-window
			rounded-md;
	}

	section.titled > h2 {
		@apply
			h-[2.5rem]
			bg-primary
			rounded-t-md
			text-white
			text-lg
			dark:shadow-dark
			flex
			items-center;
	}

	section.titled > h2 > .button.icon {
		@apply
			m-0
			rounded-tr-none
			rounded-b-none
			w-[2.5rem]
			h-[2.5rem]
			flex
			items-center
			justify-center
			shadow-none;
	}

	section h3 {
		@apply
			border-b
			border-background
			dark:border-gray-600
			px-0
			py-2;
	}

	section.titled > p {
		@apply
			px-6
			py-4;
	}

	.readable {
		@apply
			text-xl;
	}

	section.full {
		width: calc(100% - 3rem);
		@apply
			m-6;
	}

	/*  ------------------------- Misc. Sections */
	div.color-chart {
		@apply
			m-6;
	}

	div.color-chart > h2 {
		@apply
			m-0
			px-2
			py-1;
	}

	div.color-chart div.wrapper {
		@apply
			border
			border-black;
	}

	div.color-chart div.wrapper > div {
		@apply
			w-full
			px-2
			py-1;
	}

	/*  -----------------------------------------  ╔═════════════════╗  */
	/*  -----------------------------------------  ║ Links & buttons ║  */
	/*  -----------------------------------------  ╚═════════════════╝  */

	/*  ------------------------- Default link */
	a {
		@apply
			underline
			text-gray-500
			hover:text-primary-dark
			dark:text-gray-300
			dark:hover:text-white
			transition-colors
			duration-200;
	}

	#img-popup-wrapper a {
		@apply
			text-gray-500
			hover:text-gray-100;
	}

	/*  ------------------------- Top menu items */
	a.nav-item, form.nav-item {
		@apply 
			text-primary-ultra-light
			whitespace-nowrap
			no-underline
			h-16
			flex
			items-center
			border-b-4
			border-transparent
			px-4
			transition-colors
			duration-200;
	}

	a.nav-item svg.icon, form.nav-item svg.icon {
		@apply
			text-gray-400
			flex-none;
	}

	a.nav-item:hover svg.icon,
	a.nav-item.active svg.icon,
	form.nav-item:hover svg.icon,
	form.nav-item.active svg.icon
	{
		@apply
			text-white;
	}

	a.nav-item.active {
		@apply 
			text-white
			border-b-4 
			border-secondary;
	}

	a.nav-item:hover, form.nav-item:hover {
		@apply 
			text-white
			border-b-4
			border-secondary
			bg-primary-light
			cursor-pointer;
	}

	/*  ------------------------- Side bar items */
	a.side-bar-item {
		@apply
			flex
			items-center
			text-gray-600
			dark:text-primary-ultra-light
			py-3
			pl-5
			pr-1
			text-xl
			hover:bg-primary-light
			hover:text-white
			transition-colors
			duration-200
			dark:opacity-70
			no-underline;
	}

	a.side-bar-item svg.icon {
		@apply
			text-gray-500
			dark:text-primary-ultra-light
			dark:opacity-70
			transition-colors
			duration-200;
	}

	a.side-bar-item:hover, a.side-bar-item:hover svg.icon {
		@apply
			bg-primary-super-light
			dark:bg-transparent
			text-gray-900
			dark:text-white
			dark:opacity-100;
	}

	a.side-bar-item.active, a.side-bar-item.active svg.icon,
	a.side-bar-item.active:hover, a.side-bar-item.active:hover svg.icon {
		@apply
			text-white
			dark:text-white
			bg-primary-light
			dark:bg-gray-600
			dark:opacity-100;
	}

	/*  ------------------------- Buttons */

	nav.buttons-wrapper {
		@apply
			max-w-[768px]
			m-auto
			flex
			justify-between
			mt-4
			p-4;
	}

	.button {
		@apply
			text-white
			dark:text-white
			font-semibold
			bg-primary-light
			px-3
			py-1.5
			text-center
			uppercase
			rounded-md
			transition-colors
			duration-200
			hover:bg-primary-super-light
			hover:text-white
			shadow-md
			no-underline
			self-center
			inline-block;
	}

	.button svg {
		@apply
			transition-colors
			duration-200;
	}

	.button:hover svg, .button:hover.warning svg {
		@apply
			text-white;
	}

	.button.icon {
		@apply
			py-1
			px-1
			min-w-0
			w-8
			h-8
			inline-flex
			mx-0.5;
	}


	.button.big {
		@apply
			px-4
			py-3
			min-w-[12rem] ;
	}

	.button.disabled {
		@apply
			bg-gray-300
			hover:bg-gray-300
			dark:text-gray-500
			dark:bg-gray-600
			hover:cursor-not-allowed;
	}

	.button.disabled svg {
		@apply
			text-inherit;
	}

	.button.warning {
		@apply
			bg-red-400
			hover:bg-red-500;
	}

	.button.compact {
		@apply
			py-1
			px-2
			text-sm
			rounded-md;
	}

	/*  -----------------------------------------  ╔══════════╗  */
	/*  -----------------------------------------  ║ Switches ║  */
	/*  -----------------------------------------  ╚══════════╝  */

	.switch {
		width: calc(2rem * var(--switch-scale));
		height: calc(1rem * var(--switch-scale));
		border-radius: calc(0.5rem * var(--switch-scale));
		box-shadow: inset 0px 2px 4px -1px rgba(0,0,0,0.5);
		vertical-align: middle;
		@apply
			bg-primary-light
			dark:bg-transparent
			border-gray-600
			dark:border-gray-800
			focus:outline-none
			cursor-pointer
			inline-block
			border
			transition-colors
			duration-200;
	}

	.switch.colored {
		@apply
			bg-lime-300;
	}

	.switch.colored.off {
		@apply
			bg-red-400;
	}

	.switch.off {
		@apply
			bg-gray-100
			border-gray-500
			dark:border-gray-800
			dark:bg-transparent;
	}

	.switch.darkmode {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 458.08 229.04'%3E%3Cpath d='M101.42,50.88A57.15,57.15,0,1,0,181,130.45a66,66,0,1,1-79.57-79.57Z' fill='%23dcdcff' opacity='0.5'/%3E%3Cpolygon points='343.56 41.23 357.61 62.09 380.2 51.05 381.94 76.14 407.03 77.87 395.98 100.47 416.85 114.52 395.98 128.56 407.03 151.16 381.94 152.9 380.2 177.99 357.61 166.94 343.56 187.81 329.51 166.94 306.91 177.99 305.18 152.9 280.08 151.16 291.13 128.56 270.27 114.52 291.13 100.47 280.08 77.87 305.18 76.14 306.91 51.05 329.51 62.09 343.56 41.23' fill='%23dcdcff' opacity='0.5'/%3E%3C/svg%3E");
		@apply
			ml-4
			mr-8
			bg-gray-900
			bg-opacity-30
			border-gray-800;
	}

	.switch:before {
		content: '';
		width: calc(1rem * var(--switch-scale));
		height: calc(1rem * var(--switch-scale));
		margin: -1px;
		border-radius: calc(0.5rem * var(--switch-scale));
		left: calc(1rem * var(--switch-scale));
		/*box-shadow: inset 0px 0px 4px 4px rgb(255, 255, 255);*/
		@apply
			bg-white
			border-gray-600
			dark:border-gray-800
			transition-all
			duration-200
			block
			relative
			border;
	}

	.switch.off:before {
		@apply
			left-0
			bg-white
			dark:bg-primary-ultra-light
			bg-opacity-60
			dark:bg-opacity-30
			border-gray-600
			dark:border-gray-800;
	}

	.switch.darkmode:before, .switch.darkmode.off:before {
		@apply
			bg-primary-ultra-light
			border-gray-800;
	}

	.switch:hover:before, .switch.off:hover:before, .switch.colored:before {
		@apply
			bg-white;
	}

	/*  -----------------------------------------  ╔═══════════╗  */
	/*  -----------------------------------------  ║  Flashes  ║  */
	/*  -----------------------------------------  ╚═══════════╝  */

	div.flash {
		@apply
			py-4
			px-6
			text-center
			rounded-md
			mx-6
			mt-3
			shadow-tight-window
			dark:text-primary-dark
			cursor-pointer;
	}

	div.flash.error {
		@apply
			bg-red-400;
	}

	div.flash.warning {
		@apply
			bg-yellow-300;
	}

	div.flash.success {
		@apply
			bg-green-400;
	}

	/*  -----------------------------------------  ╔══════════╗  */
	/*  -----------------------------------------  ║   Misc.  ║  */
	/*  -----------------------------------------  ╚══════════╝  */

	.config-line {
		@apply
			flex
			justify-between
			border-b
			border-background
			dark:border-gray-600
			p-4;
	}

	.config-line:first-child {
		@apply
			pt-2;
	}

	.config-line:last-child {
		@apply
			border-none
			pb-2;
	}

	.config-line > span {
		@apply
			transition-colors
			duration-300;
	}

	span.disabled, label.disabled {
		@apply
			text-gray-400
			dark:text-gray-500;
	}

	.icon-tabler {
		@apply
			inline;
	}

	/*  -----------------------------------------  ╔═════════╗  */
	/*  -----------------------------------------  ║  Forms  ║  */
	/*  -----------------------------------------  ╚═════════╝  */

	/*
	form {
		@apply
			m-auto
			max-w-xl;
	}

	form > div {
		@apply
			flex
			my-4
			w-full
			gap-x-2
			pl-2
			items-center;
	}

	form > div.input-error {
		@apply
			bg-red-400;
	}

	form > div.input-error > label {
		@apply
			text-white;
	}

	input {
		@apply
			text-primary-dark
			dark:text-white
			flex-[2]
			w-full;
	}

	label {
		@apply
			text-right
			whitespace-nowrap
			flex-[1]
			w-full;
	}

	/* Filling chrome's inputs icon 
	input[type=time]::-webkit-calendar-picker-indicator {
		@apply
			dark:bg-time-inverted;
	}

	input[type=date]::-webkit-calendar-picker-indicator,
	input[type=datetime-local]::-webkit-calendar-picker-indicator,
	input[type=week]::-webkit-calendar-picker-indicator,
	input[type=month]::-webkit-calendar-picker-indicator {
		@apply
			dark:bg-date-inverted;
	}

	/* Chrome color swatch 
	input[type="color" i]::-webkit-color-swatch-wrapper {
		@apply
			p-1
			bg-background
			dark:bg-gray-600;
	}

	input[type="color"]::-webkit-color-swatch {
		@apply
			border-none;
	}

	input[type=text],
	input[type=password],
	input[type=email],
	input[type=tel],
	input[type=search],
	input[type=url],
	input[type=number],
	input[type=time],
	input[type=date],
	input[type=datetime-local],
	input[type=week],
	input[type=month]
	{
		@apply
			border
			bg-transparent
			border-background
			dark:border-gray-600
			dark:bg-gray-600
			shadow-sm
			dark:shadow-none
			py-2
			px-4;
	}

	input:focus {
		@apply
			outline-none
			bg-white
			border-gray-400
			dark:border-gray-500
			dark:bg-gray-500;
	}

	input[type="color" i]:focus::-webkit-color-swatch-wrapper {
		@apply
			bg-gray-400
			dark:bg-gray-500;
	}
	*/

	input:disabled,
	textarea:disabled {
		@apply
			border
			bg-gray-100
			border-background
			dark:bg-gray-600
			dark:bg-opacity-40
			dark:border-transparent
			dark:text-gray-500
			text-gray-400;	
	}

	input[type=checkbox] {
		@apply hidden;
	}

	input[type=checkbox] + label:before {
		content: '';
		@apply
			h-5
			w-5
			mr-2
			mb-1
			align-middle
			inline-block 
			cursor-pointer

			border
			border-gray-300
			bg-white
			shadow-sm

			dark:border-4 
			dark:border-gray-600
			dark:bg-gray-700
			dark:shadow-none;
	}

	input[type=checkbox]:checked.blue + label:before {
		@apply 
			ring-inset
			ring-white
			ring-2
			bg-blue-400
			border-blue-500

			dark:ring-0
			dark:shadow-blue
			dark:bg-blue-600
			dark:border-blue-400;
	}

	input[type=checkbox]:checked.green + label:before {
		@apply
			ring-inset
			ring-white
			ring-2
			bg-green-400
			border-green-500

			dark:ring-0
			dark:shadow-green
			dark:bg-green-600
			dark:border-green-400;
	}

	input[type=checkbox]:disabled + label:before {
		@apply 
			bg-gray-100
			border-gray-100

			dark:bg-gray-600
			dark:border-gray-600
			dark:opacity-40;
	}

	/*
	input[type=checkbox] {
		@apply
			bg-red-500;
	}

	input[type=submit],
	input[type=reset],
	input[type=button] {
		@apply
			px-0
			button
			cursor-pointer;
	}

	input[type=submit]:disabled,
	input[type=reset]:disabled,
	input[type=button]:disabled {
		@apply
			button-disabled;
	}

	div.input-error > input[type=text],
	div.input-error > input[type=password],
	div.input-error > input[type=email],
	div.input-error > input[type=tel],
	div.input-error > input[type=search],
	div.input-error > input[type=url],
	div.input-error > input[type=number],
	div.input-error > input[type=time],
	div.input-error > input[type=date],
	div.input-error > input[type=datetime-local],
	div.input-error > input[type=week],
	div.input-error > input[type=month] {
		@apply
			bg-white
			dark:bg-gray-600
			border-red-400;
	}

	div.input-error > input:focus {
		@apply
			border-red-500;
	}

	div.input-error.focus {
		@apply
			bg-red-500;
	}

	*/

	/*  -----------------------------------------  ╔══════════╗  */
	/*  -----------------------------------------  ║  Tables  ║  */
	/*  -----------------------------------------  ╚══════════╝  */

	/*  ------------------------- Default table */
	table {
		@apply
			w-full
			border-collapse
			shadow-tight-window
			dark:shadow-md;
	}

	table thead, table tfoot {
		@apply
			bg-primary
			text-white
			border
			border-primary;
	}

	table tbody {
		@apply
			border
			border-primary;
	}

	table tbody tr {
		@apply
			transition-colors
			duration-200;
	}

	table tr:nth-child(2n) {
		@apply
			bg-primary-ultra-light
			bg-opacity-50
			dark:bg-gray-600
			dark:bg-opacity-50;
	}

	table td {
		@apply
			py-1
			px-2;
	}

	table thead td, table.big thead td {
		@apply
			py-1;
	}

	table thead td:first-child {
		@apply
			rounded-tl-md;
	}

	table thead td:last-child {
		@apply
			rounded-tr-md;
	}

	table tfoot td:first-child {
		@apply
			rounded-bl-md;
	}

	table tfoot td:last-child {
		@apply
			rounded-br-md;
	}

	/*  ------------------------- Big Table */
	table.big td {
		@apply
			p-3;
	}

	/* -------------------------- Unread row */
	table tr.unread, table tr.unread:nth-child(2n) {
		@apply
			bg-secondary-highlight
			dark:bg-secondary-highlight-dark;
	}

	/*  -----------------------------------------  ╔════════════╗  */
	/*  -----------------------------------------  ║ Pagination ║  */
	/*  -----------------------------------------  ╚════════════╝  */

	nav.pagination {
		@apply
			flex
			justify-center
			items-center
			my-6
			rounded-md
			m-auto
			w-min;
	}

	nav.pagination .pagination-item {
		@apply
			p-2
			w-10
			h-10
			flex
			justify-center
			items-center
			cursor-pointer
			transition-colors
			duration-200
			hover:bg-primary
			hover:text-white
			dark:hover:bg-background
			dark:hover:text-primary-dark;
	}

	nav.pagination .pagination-item.number {
		@apply
			bg-primary-ultra-light
			hover:bg-primary
			dark:bg-gray-600
			dark:hover:bg-background;
	}

	nav.pagination .first {
		@apply
			rounded-l-md
			bg-primary-light
			text-white
			dark:bg-gray-400;
	}

	nav.pagination .last {
		@apply
			rounded-r-md
			bg-primary-light
			text-white
			dark:bg-gray-400;
	}

	nav.pagination .next, nav.pagination .previous {
		@apply
			bg-primary-super-light
			text-white
			dark:bg-gray-500;
	}
}