@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@glidejs/glide/dist/css/glide.core.min.css';
@import './index/glide.theme.css';

@import './fonts.css';
@import './index/style.css';
@import './index/flash.css';